/* For Firefox */
progress::-moz-progress-bar {
  background: #2ecc71;
}

/* For Chrome or Safari */
progress::-webkit-progress-value {
  background: #2ecc71;
}

/* For IE10 */
progress {
  background: #2ecc71;
}

li {
  color: #fefefe;
}

p {
  color: #fefefe;
}

.container {
  width: 300px; /* Set width of the form */
}

.form-container {
  background-color: #2ecc71;
  margin: 5%;
  padding: 50px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 400px;
  text-align: center;
}
.form-header h1 {
  margin: 0;
  font-size: 2em;
}
.form-header hr {
  border: none;
  border-top: 2px solid;
  color: 2ecc71;
  width: 30%;
  margin: 10px auto;
}
.form-body {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}
.form-body label {
  font-size: 1em;
  width: 100%;
  text-align: left;
  color: #130f40;
}
.form-body input,
.form-body textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
.form-body button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #130f40;
  color: #fefefe;
  font-size: 1em;
  cursor: pointer;
}
.form-body button:hover {
  background-color: #0f0830;
}

.container {
  width: 85%;
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
h3 {
  margin-top: 0;
  font-family: Arial, sans-serif;
  color: #2ecc71;
}
hr {
  width: 85%;
  border: 1px solid #2ecc71;
}
.location {
  margin-top: 20px;
  font-size: 18px;
  color: #333;
}
.social-icons {
  margin-top: 20px;
}
.social-icons a {
  margin: 0 10px;
}
img.icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
#map {
  height: 300px;
  width: 100%;
  margin-top: 20px;
  border-radius: 10px;
}
